.top-nav {
    align-items: center;
    display: flex;
    margin-bottom: 8rem;
    margin-left: 10rem;
    margin-top: 3rem;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin-left: 1.5rem;
    padding: 0;
}

.nav-list-link {
    color: var(--clr-white);
    font-size: var(--fs-md);
    text-decoration: none;
}

/* media queries */
/* landscape phone - less than 768px */
@media (max-width:767.98px) {

    .top-nav {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .mobile-btn {
        position: fixed;
        top: 4rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: .2rem;
        background: var(--clr-main);
        transition-duration: .25s;
    }
    
    .mobile-btn > span::before {
        content: '';
        top: -.5rem;
    }

    .mobile-btn > span::after {
        content: '';
        top: .5rem;
    }

    /* mobile check */
    .mobile-check {
        opacity: 0;
        transform: scale(2);
        position: fixed;
        top: 3.5rem;
        right: 2.25rem;
        z-index: 4;
        /* para poner el check arriba de las 3 rayitas */
    }

    .mobile-check:checked + .mobile-btn > span {
        transform: rotate(45deg);
    }

    .mobile-check:checked + .mobile-btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    .mobile-check:checked + .mobile-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .mobile-check:checked ~ .nav-list {
        right: 0;
    }
    /* mobile check */

    .nav-list {
        display: grid;
        position: fixed;
        margin: 0;
        top: 0;
        right: -20rem;
        width: 50%;
        height: 100vh;
        background: var(--clr-black);
        align-content: center;
        text-align: left;
        padding-left: 2rem; 
        z-index: 2;
        transition: right .5s ease-in-out;
    }
}